*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
kbd{
    border: 1px solid red;
    width: 5em;
    height: 5em;
    display: inline-block;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 4px;
}
main{
    text-align: center;
}
.main{
    display: inline-block;
}
main div:nth-child(1){
margin-left: 4em;
}
main div:nth-child(2){
    margin-left: 4em;
}
main div:nth-child(3){
    margin-left: 4em;
}
main div:nth-child(4){
    margin-left:4em    
}