*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
a{
    text-decoration: none;
}
body{
    height: 100vh;
    background: gray url(https://i.loli.net/2017/11/14/5a0a6c23a8131.jpg) no-repeat center  center;
    background-size: cover;
}

.key{
    display: inline-block;
    width: 70px;
    height: 52px;
    background: #FCFCFC; 
    color: #767C80;
    font-size: 23px;
    font-family: kai;
    border-radius: 7px;
    text-transform: uppercase;
    position: relative;
    margin: 15px 10px;
    box-shadow:  0px 0px 0px 1px rgba(95,97,98,1) ,0px 2px 0px 2px rgba(50,51,52,1),0px 3px 1px 3px rgba(33,33,33,1);

}
#delete{
    padding: 0px   6px;
    position: absolute;
    border-radius: 3px;
    background-color: #C6C9CD;
    display: none;
   
}

#delete{
    font-size: 5px;
    top: 6px;
    left: 5px;
}
kbd >button{
    font-size: 12px;
    font-family: kai;
    border: 0;
    padding: 0px   5px;
    position: absolute;
    border-radius: 3px;
    background-color: #C6C9CD;
    display: none;
    font-size: 5px;
    top: 6px;
    left: 46px;
}

kbd:hover >button{
    display: inline-block;
   
}
kbd:hover #delete{
    display: inline-block;
   
}
main{
    text-align: center;
}
#main{
    display: inline-block;
    margin-top: 200px;
   
}
main div:nth-child(1){
margin-left: 0px;
}
main div:nth-child(2){
    margin-left: 100px;
}
main div:nth-child(3){
    margin-left: 80px;
}
main div:nth-child(4){
    margin-left:30px;   
}
.key img{
    width: 16px;
    height: 16px;
}
.key .text{
    position: absolute;
    left: 30px;
    top: 9px; 
}
.key img{
    position: absolute;
    bottom: 4px;
    left: 4px;
}

